
:root {
    --p-primary-50: #e0e5f8;
    --p-primary-100: #b3c1e6;
    --p-primary-200: #80a3d4;
    --p-primary-300: #4d85c2;
    --p-primary-400: #1a67b0;
    --p-primary-500: #385DAB;
    --p-primary-600: #2e4e8d;
    --p-primary-700: #27457d;
    --p-primary-800: #1f3a6d;
    --p-primary-900: #162f5d;
    --p-primary-950: #0f234d;
    --p-surface-0: #ffffff;
    --p-surface-50: #fafafa;
    --p-surface-100: #f4f4f5;
    --p-surface-200: #e4e4e7;
    --p-surface-300: #d4d4d8;
    --p-surface-400: #b3b3b3;
    --p-surface-500: #71717a;
    --p-surface-600: #52525b;
    --p-surface-700: #3f3f46;
    --p-surface-800: #27272a;
    --p-surface-900: #18181b;
    --p-surface-950: #09090b;
    --p-content-border-radius: 6px;
}


:root.dark {
    --p-surface-900: #2D2C33;
    --p-surface-950: #201f24;
    --p-button-primary-color: #d7d7d7;
    --p-select-color: #d7d7d7;
    --p-input-text-color: #d7d7d7;
    --p-surface-0: #d7d7d7;
    --p-datatable-body-cell-border-color: var(--p-surface-700);
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html,
body {
    height: 100%;
    font-family: "Open Sans";
    font-size: 13px;
}

body:where(.dark, .dark *) {
    background-color: var(--p-surface-900);
    color: color-mix(in srgb, var(--p-surface-0) calc(100% * var(--tw-text-opacity, 1)), transparent);
}

#app {
    height: 100vh;
}

.avaimg>img {
    border-radius: 5px !important;
}

.min-w-1000 {
    min-width: 1000px;
}

.max-w-1000 {
    max-width: 1000px;
}

.min-w-1280 {
    min-width: 1280px;
}

.max-w-1280 {
    max-width: 1280px;
}

.max-w-400 {
    max-width: 400px;
}

.min-w-400 {
    min-width: 400px;
}

.max-w-190 {
    max-width: 190px;
}

.min-w-190 {
    min-width: 190px;
}
.yagr-tooltip {
    font-family: 'Open Sans' !important;
    border: 1px solid #dbdbdb !important;
}
.yagr-tooltip:where(.dark, .dark *) {
    background-color: var(--p-surface-900) !important;
    border: 1px solid var(--p-surface-600) !important;
    color: gray !important;
}
a {
    color: var(--p-primary-color);
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}